@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
}

h2 {
    color: white;
    font-family: 'Cormorant Upright';
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 20px;


}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    gap: 32px;

}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Cormorant Upright';
}

.top {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 32px;

}

.top img {
    width: 2px;
}

.login p a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s ease;
}

.login p a:hover {
    transform: scale(1.5);
}

.book p a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.one {
    margin: 0px;
    padding: 0px;
}

.below-header {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 00px;
    padding: 30px 0px;
}

.hashtage {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 230px;
    width: 100px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 175%;
    transform: rotate(-90deg);
    gap: 40px;

}


.middle {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin: 40px;
    width: 70%;
    height: 80%;
    gap: 10px;


}

.middle h1 {
    text-align: left;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;

}

.middle p {
    font-size: 16px;
    font-family: 'Cormorant Upright';
    font-weight: 400;
    color: #AAAAAA;
    /* margin: 0px; */
}

.middle button {
    width: 30%;
    background-color: #DCCA87;
    border: none;
    margin: 0px;
    padding: 15px;
    font-family: 'Cormorant Upright';
    margin-top: 20px;


}

.middle img {
    width: 30px;

}

.follow {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.hero-image img {
    width: 360px;
    margin: 40px;
    margin-right: 170px;
}

.scroll {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    width: 500px;
}

.date {
    color: #AAAAAA;
    display: flex;
    text-align: left;
    width: 900px;
    font-size: 10px;

}

/* 
.scrolls {
   
    /* flex-direction: column; */
/* justify-items: space-between; */

/* } */
*/ .scrolls img {
    height: 50px;
    width: 90%;
    color: #241f10;
}

.scrolls p {
    font-size: 13px;
    color: #DCCA87;
}

.two {
    background-image: url(./Mask\ Group\(2\).svg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container-two {
    display: flex;
    align-items: center;
    padding: 80px;
}

.g {

    display: flex;
    width: 300px;
    height: 415px;



}

.knife {
    margin-bottom: 500px;
}

.knife img {
    width: 300px;
    height: 500px;
    position: absolute;
    margin-bottom: 79px;

}

.sectiontwo-left {
    display: block;
    justify-content: space-between;
    text-align: right;
    position: relative;

}

.sectiontwo-left h1 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sectiontwo-left p {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

}

.sectiontwo-left button {
    width: 30%;
    background-color: #DCCA87;
    border: none;
    margin: 0px;
    padding: 15px;
    font-family: 'Cormorant Upright';
    margin-top: 20px;
}

.second-right {
    display: block;
    justify-content: space-between;
    text-align: left;
    position: relative;
}

.second-right h1 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: #DCCA87;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.second-right p {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;


}

.second-right button {
    width: 30%;
    background-color: #DCCA87;
    border: none;
    margin: 0px;
    padding: 15px;
    font-family: 'Cormorant Upright';
    margin-top: 20px;
}

.three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}


.section-three-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    gap: 20px;
}

.section-three-top p {
    width: 267px;
    height: 30px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 50px;
}

.section-three-top h1 {
    /* width: 407px;
    height: 83px; */
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}



.section-three-below img {
    background-color: black;
    width: 80%;
    margin: 40px;
    margin-left: 123px;
    display: flex;
    align-items: center;

}

.b button {
    width: 150px;
    text-align: center;
    align-items: center;
    background-color: #DCCA87;
    border: none;
    margin: 0px;
    margin-bottom: 60px;
    padding: 20px;
    font-family: 'Cormorant Upright';

}

.fouth {
    display: flex;
    align-items: center;
    background-image: url(./Mask\ Group\(2\).svg);

}

.fouth-left img {
    width: 60%;
    margin: 80px;
    margin-left: 120px;
}

.fouth-right img {
    width: 100%;

}

.fifth {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.fifth img {
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.sixth {
    background-image: url(./BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;

}

.for-six {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

}

.sixth-left img {
    width: 470px;
    margin: 21px;
    padding: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 500px;
    padding: 20px;
    margin: 100px;
    margin-top: 150px;
    margin-left: 150px;
    /* background-color: aqua; */


}

.right-logo {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.middle-logo {
    display: flex;
    gap: 30px;

}

.myp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 300px;

}

.myp img {
    width: 80px;
}

.mypp {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
}

.mypp h3 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
}

.mypp p {
    width: 160px;
    /* height: 56px; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.top-sixth {
    display: block;
    text-align: left;
    margin-right: 300px;

}

.top-sixth h4 {
    display: block;
    width: 220px;
    height: 30px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;

}

.top-sixth h1 {
    width: 320px;
    height: 83px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #DCCA87;
}

.seven {
    background-image: url(./mack\ back.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;


}

.my-image {
    display: flex;
    width: 60%;
    margin-right: 800px;

}

.my-image img {
    width: 190px;


}

.seven-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 17px;
    margin: 30px;
}

.seven-right h5 {
    width: 100px;
    height: 30px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
}

.seven-right img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 40px;
    height: 9px;
}

.seven-right h1 {
    width: 367px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 50%;
    text-align: left;
    color: #DCCA87;

}

.seven-right p {
    width: 420px;
    height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #AAAAAA;


}

.seven-right button {
    width: 100px;
    text-align: center;
    align-items: center;
    background-color: #DCCA87;
    border: none;
    margin: 0px;
    padding: 10px;
    font-family: 'Cormorant Upright';

}

.eight {
    background-image: url(./Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.my-eight-image img {
    width: 500px;
    align-items: center;
    margin: 40px;
    padding: 40px;
}

.eight-right {
    width: 100%;
    margin: 50px;
    margin-left: 100px;
}

.eight-right h5 {
    width: 76px;
    height: 30px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.eight-right h1 {
    width: 350px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}

.eight-right p {
    width: 513px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #AAAAAA;


}

.eight-time h4 {
    width: 208px;
    height: 30px;
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 109%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;


}

.eight-time p {
    width: 244px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.eight-time button {
    width: 120px;
    text-align: center;
    font-weight: 600px;
    align-items: center;
    background-color: #DCCA87;
    border: none;
    margin: 40px;
    padding: 15px;
    font-family: 'Cormorant Upright';
    font-size: 18px;
}

.nineth-center {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border: 2px;
    width: 55%;
    height: 80%;
    padding: 40px;
    margin: 6px 40px;
    margin-left: 280px;
    background-color: rgb(37, 35, 35);
}

.nineth-center p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 40%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.nineth-center h5 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;


}

.nineth-center h1 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #DCCA87;
}




.text-email {
    display: flex;
    align-items: center;
    margin-left: 131px;
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
}


input {
    width: 60%;
    justify-content: center;
    padding: 8px;
    margin: 8px 0;
    color: white;
    border: 1px solid #F5EFDB;
    background-color: black;
    font-family: 'Cormorant Upright';
}

.text-email button {
    width: 80px;
    text-align: center;
    font-weight: 600px;
    background-color: #DCCA87;
    border: none;
    padding: 3px;
    font-family: 'Cormorant Upright';
    font-size: 18px;
}

footer {
    background-image: url(./footer.png);
    margin-top: -267px;
    width: 100%;
    position: absolute;

}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 310px;

}

.last-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.last-left h4 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #F5EFDB;

}

.last-left p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.last-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* background-color: aqua; */
    margin-right: 90px;
    margin-top: 100px;
}

.last-middle img {
    display: flex;
    width: 40px;

}

.last-middle h1 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #DCCA87;
    margin-bottom: 30px;
}

.last-middle p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.social {
    display: flex;
    width: 20px;
    margin: 20px 30px;
    margin-bottom: 70px;
    gap: 2px;
}

.last-right {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.last-right h4 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #F5EFDB;


}

.last-right p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    text-align: left;
    letter-spacing: 0.04em;
    color: #AAAAAA;


}